# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore client side packages
myTunes/node_modules
myTunes/.tmp
myTunes/.sass-cache
myTunes/bower_components
myTunes/app/audio/*

# Ignore /public because it is just for building into
/public
