<div class="jumbotron">
  <p><a class="btn btn-lg btn-success" ng-click="player.play('/audio/left_hand_free.mp3')">Play</a></p>
  <p><a class="btn btn-lg btn-success" ng-click="player.pause()">Pause</a></p>
  <p>{{message}}</p>
  <p>The goal here is to</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>first</strong> translate the tests from peepcode</li>
    <li class="list-group-item"><strong>then</strong> try to make the tests pass</li>
    <li class="list-group-item"><strong>last</strong> get a music player</li>
  </ul>
</div>
<div ng-repeat="track in tracks">
  {{track.audiofile}}
</div>
